ActiveMQ-Producer/ActiveMQ-Producer/.vs
ActiveMQ-Producer/ActiveMQ-Producer/ActiveMQ-Producer/src/InfosAPI.txt
ActiveMQ-Producer/ActiveMQ-Producer/ActiveMQ-Producer/bin
ActiveMQ-Producer/ActiveMQ-Producer/ActiveMQ-Producer/obj

ActiveMQ-Consumer/ActiveMQ-Consumer/.vs
ActiveMQ-Consumer/ActiveMQ-Consumer/ActiveMQ-Consumer/bin 
ActiveMQ-Consumer/ActiveMQ-Consumer/ActiveMQ-Consumer/obj