<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.8.0" targetFramework="net46" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.2" targetFramework="net46" />
  <package id="AWSSDK.Core" version="3.3.103.64" targetFramework="net46" />
  <package id="AWSSDK.SimpleEmail" version="3.3.101.70" targetFramework="net46" />
</packages>